.first-container {
    background-color: #525050 !important;
    width: 100vh;
    height: 100vh;
}

.login-img {
    /* background: url(../../pages/image/Nice\ to\ meet\ you.png), */
    /* lightgray 50% / contain no-repeat  */
    /* !important;
      */
    margin: 5% 1% 1% 20%;
    width: 60vh;
    height: 60vh;
    mix-blend-mode: normal;

}

.wellcome-crm {
    display: flex;
    /* width: 454px;
    height: 10px; */
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
        font-size: 34px !important;
    font-style: normal ;
    padding: 5% 1% 1% 2%;
    font-weight: 500 !important;
    /* line-height: 21px; */
}
.login-content{
    display: flex;
/* width: 511px; */
flex-direction: column;
/* flex-shrink: 0; */
color: #FFF;
text-align: center;

/* Subheading/S1 */
font-family: 'Roboto', sans-serif !important;
font-size: 20px;
}